doctype html
html
	head
		link(rel="icon" href="/img/favicon-emblemmatic-map-my-members-logo-71.png")
		title Map My Members
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		
		link(rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
		script(src="//code.jquery.com/jquery-1.10.2.js")

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src="/js/custom.js")

		link(rel="stylesheet" href="/css/custom.css")
			
		script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
	body
		include ./nav.pug
		.container
			.row
				.col.s12.z-depth-4.card-panel
					.row
						.col.s12.center
							
							p.center.title-text #{groupdata.name}
							p= groupdata.description
							.row
								.container
									.col.s6
										i(class='large material-icons') supervisor_account
										p.center Your #{groupdata.members.length} Members
										each member in groupdata.members	
											.col.s4
												p.login-form-text= member.name
												span.memberid(hidden)= member.id
												img.circle.responsive-img.valign.profile-image-login(src=member.picture, alt='profile photo')
												p(id="location" class="datainfo")= member.location
												a(href="#" class="editlink") Edit Location
												a(class="savebtn btn") Save
													i(class="material-icons left") add_location
									.col.s6
										i(class='large material-icons') person_pin_circle
										p.center.col.l12.m12.s12 Their Locations
										img#newMap.col.l12.m12.s12(src=mapURL)
		p#fbkey(hidden) #{fbkey}