doctype html
html
	head
		link(rel="icon" href="/img/favicon-emblemmatic-map-my-members-logo-71.png")
		title Map My Members
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		link(rel="stylesheet" href="/css/custom.css")
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src="/js/custom.js")
	body
		#login-page.row
			.col.s12.z-depth-4.card-panel
				.login-form
					.row
						.input-field.col.s12.center
							
							p.center.login-form-text #{groupdata.name}
							br
							p.center Your #{groupdata.members.length} Members

					.row
						each member in groupdata.members	
							center.col.s4
								p.login-form-text= member.name
								img.circle.responsive-img.valign.profile-image-login(src=member.picture, alt='')
								p= member.location
	img(src=mapURL)
							