doctype html
html
	head
		link(rel="icon" href="/img/favicon-emblemmatic-map-my-members-logo-71.png")
		title Map My Members
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		link(rel="stylesheet" href="/css/custom.css")
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src="/js/custom.js")
	body
		nav
			.nav-wrapper
				.brand-logo(style='margin-left:20px')
					img(src="/img/white-logo.png" style="margin:5px; height:50px")
				a.button-collapse(href='#', data-activates='mobile-demo')
					i.material-icons(style="margin:5px;") menu
				ul.right.hide-on-med-and-down
					li
						a(href='http://localhost:3000/profile')
							img.circle(src=data.picture style="margin:5px; height:50px")
					li
						fb:login-button(scope='public_profile,email,user_location,user_managed_groups', onlogin='checkLoginState();' data-auto-login-link="true" auto-logout-link="true" id="loginbutton")
				ul#mobile-demo.side-nav
					li
						a(href='http://localhost:3000/profile')
							img.circle(src=data.picture style="margin:5px; height:50px")
					li
						fb:login-button(scope='public_profile,email,user_location,user_managed_groups', onlogin='checkLoginState();' data-auto-login-link="true" auto-logout-link="true")

		.container
			#login-page.row
				.col.s12.z-depth-4.card-panel
					.login-form
						.row
							.col.s12.center
								br
								img.circle.responsive-img.valign.profile-image-login(src=data.picture, alt='profile photo')
								p.center.title-text #{data.name}
								p.center.login-form-text #{data.email}
								br
								p.center Your Groups
						.row
							.container
								ul.collection
									each group in data.groups
										li
											div
												a.collection-item.avatar(href="/group/"+group.id ) 
													i(class="material-icons circle teal") supervisor_account
													| #{group.name}
		p#fbkey(hidden) #{fbkey}
												